---
version: "2.0"
services:
  pz-server:
    image: __SERVER_IMAGE__
    expose:
      - port: 16261
        as: 16261
        proto: udp
        to:
          - global: true
            ip: pz-ip
      - port: 16262
        as: 16262
        proto: udp
        to:
          - global: true
            ip: pz-ip
      - port: 27015
        as: 27015
        proto: tcp
        to:
          - global: true
            ip: pz-ip
      - port: 2222
        as: 2222
        proto: tcp
        to:
          - global: true
            ip: pz-ip
    env:
      - SSH_PRIVATE_KEY_BASE64=__SSH_PRIVATE_KEY_BASE64__
      - REPO_URL=__REPO_URL__
      - GIT_USER_NAME=__GIT_USER_NAME__
      - GIT_USER_EMAIL=__GIT_USER_EMAIL__
      - SSH_PORT=__SSH_PORT__
      - SERVER_NAME=__SERVER_NAME__
      - ADMIN_PASSWORD=__ADMIN_PASSWORD__
      - SERVER_MEMORY_MAX=__SERVER_MEMORY_MAX__
      - SERVER_MEMORY_MIN=__SERVER_MEMORY_MIN__
      - RESTORE_POLL_INTERVAL_SEC=__RESTORE_POLL_INTERVAL_SEC__
      - WAIT_ON_CRASH_SEC=__WAIT_ON_CRASH_SEC__
      - AUTO_CONFIGURE_MAPS=__AUTO_CONFIGURE_MAPS__
      - AUTO_CONFIGURE_MODS=__AUTO_CONFIGURE_MODS__
profiles:
  compute:
    pz-server:
      resources:
        cpu:
          units: 8
        memory:
          size: 16Gi
        storage:
          - size: 30Gi
  placement:
    pz-placement:
      pricing:
        pz-server:
          denom: uakt
          amount: __MAX_PRICE_UAKT__
deployment:
  pz-server:
    pz-placement:
      profile: pz-server
      count: 1
endpoints:
  pz-ip:
    kind: ip
